@import "tailwindcss";

@theme inline {
  --color-background: #0a192f;
  --color-primary: #00ff94;
  --color-surface: #112240;
  --color-text-main: #e6f1ff;
  --color-text-muted: #8892b0;
  
  --font-family-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
